<a href="https://colab.research.google.com/github/mantoan-thi/Analise_Exploratoria/blob/main/churn_risk_rate_hackerearth_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# Essa base de dados foi obtidas no kaggle
# Link: https://www.kaggle.com/imsparsh/churn-risk-rate-hackerearth-ml

In [3]:
''' Decrisção no kaggle
Contexto
A taxa de rotatividade é uma métrica de marketing que descreve o número de clientes que deixam uma empresa durante um período de tempo específico. . Cada usuário recebe um valor de previsão que estima seu estado de rotatividade a qualquer momento. Este valor é baseado em:

Informações demográficas do usuário
Comportamento de navegação
Dados históricos de compras, entre outras informações
Ele leva em consideração nossas previsões exclusivas e proprietárias de quanto tempo um usuário permanecerá como cliente. Essa pontuação é atualizada todos os dias para todos os usuários que têm no mínimo uma conversão. Os valores atribuídos estão entre 1 e 5.

Tarefa
Sua tarefa é prever a pontuação de rotatividade de um site com base nos recursos fornecidos no conjunto de dados.
'''

' Decrisção no kaggle\nContexto\nA taxa de rotatividade é uma métrica de marketing que descreve o número de clientes que deixam uma empresa durante um período de tempo específico. . Cada usuário recebe um valor de previsão que estima seu estado de rotatividade a qualquer momento. Este valor é baseado em:\n\nInformações demográficas do usuário\nComportamento de navegação\nDados históricos de compras, entre outras informações\nEle leva em consideração nossas previsões exclusivas e proprietárias de quanto tempo um usuário permanecerá como cliente. Essa pontuação é atualizada todos os dias para todos os usuários que têm no mínimo uma conversão. Os valores atribuídos estão entre 1 e 5.\n\nTarefa\nSua tarefa é prever a pontuação de rotatividade de um site com base nos recursos fornecidos no conjunto de dados.\n'

In [4]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [178]:
df = pd.read_csv('/content/train.csv')

In [179]:
# Traduzindo as colunas...
df.rename(columns={'customer_id':'Identificação do Cliente', 
                   'Name':'Nome', 'age':'Idade', 'gender':'Gênero sexual',
                   'security_no':'Sem seguro','region_category':'categoria de região', 
                   'membership_category':'categoria de associação', 
                   'joining_date':'Data de ingresso','joined_through_referral':'juntou-se por referência', 
                   'referral_id':'id de referência', 'preferred_offer_types':'tipos de oferta preferidos',
                   'medium_of_operation':'meio de operação', 'internet_option':'opção de internet', 
                   'last_visit_time':'hora da última visita','days_since_last_login':'dias desde o último login',
                   'avg_time_spent':'tempo médio gasto','avg_transaction_value':'valor médio de transação',
                   'avg_frequency_login_days':'média de freqüência de dias de login', 
                   'points_in_wallet':'pontos na carteira', 'used_special_discount':'desconto especial usado',
                   'offer_application_preference':'oferecer preferência de aplicativo', 'past_complaint':'reclamação anterior', 
                   'complaint_status':'status de reclamação','feedback':'comentários', 
                   'churn_risk_score':'pontuação de risco de rotatividade'},inplace=True)

In [180]:
df.describe().transpose()

                                      count  ...           max
Idade                               36992.0  ...     64.000000
dias desde o último login           36992.0  ...     26.000000
tempo médio gasto                   36992.0  ...   3235.578521
valor médio de transação            36992.0  ...  99914.050000
pontos na carteira                  33549.0  ...   2069.069761
pontuação de risco de rotatividade  36992.0  ...      5.000000

[6 rows x 8 columns]

In [181]:
df.head()

               Identificação do Cliente  ... pontuação de risco de rotatividade
0      fffe4300490044003600300030003800  ...                                  2
1  fffe43004900440032003100300035003700  ...                                  1
2      fffe4300490044003100390032003600  ...                                  5
3  fffe43004900440036003000330031003600  ...                                  5
4  fffe43004900440031003900350030003600  ...                                  5

[5 rows x 25 columns]

In [182]:
# Existe valores nulos?
df.isnull().sum()>0

Identificação do Cliente                False
Nome                                    False
Idade                                   False
Gênero sexual                           False
Sem seguro                              False
categoria de região                      True
categoria de associação                 False
Data de ingresso                        False
juntou-se por referência                False
id de referência                        False
tipos de oferta preferidos               True
meio de operação                        False
opção de internet                       False
hora da última visita                   False
dias desde o último login               False
tempo médio gasto                       False
valor médio de transação                False
média de freqüência de dias de login    False
pontos na carteira                       True
desconto especial usado                 False
oferecer preferência de aplicativo      False
reclamação anterior                     False
status de reclamação                    False
comentários                             False
pontuação de risco de rotatividade      False
dtype: bool

In [183]:
df.isnull().sum()

Identificação do Cliente                   0
Nome                                       0
Idade                                      0
Gênero sexual                              0
Sem seguro                                 0
categoria de região                     5428
categoria de associação                    0
Data de ingresso                           0
juntou-se por referência                   0
id de referência                           0
tipos de oferta preferidos               288
meio de operação                           0
opção de internet                          0
hora da última visita                      0
dias desde o último login                  0
tempo médio gasto                          0
valor médio de transação                   0
média de freqüência de dias de login       0
pontos na carteira                      3443
desconto especial usado                    0
oferecer preferência de aplicativo         0
reclamação anterior                        0
status de reclamação                       0
comentários                                0
pontuação de risco de rotatividade         0
dtype: int64

In [184]:
# Retirando os valores null
df.dropna(axis=0,inplace=True)

In [185]:
# Checando!!!
df.isnull().sum()

Identificação do Cliente                0
Nome                                    0
Idade                                   0
Gênero sexual                           0
Sem seguro                              0
categoria de região                     0
categoria de associação                 0
Data de ingresso                        0
juntou-se por referência                0
id de referência                        0
tipos de oferta preferidos              0
meio de operação                        0
opção de internet                       0
hora da última visita                   0
dias desde o último login               0
tempo médio gasto                       0
valor médio de transação                0
média de freqüência de dias de login    0
pontos na carteira                      0
desconto especial usado                 0
oferecer preferência de aplicativo      0
reclamação anterior                     0
status de reclamação                    0
comentários                             0
pontuação de risco de rotatividade      0
dtype: int64

In [186]:
df.describe()
# Agora precisamos trabalhar com o valor negativos em várias colunas

              Idade  ...  pontuação de risco de rotatividade
count  28373.000000  ...                        28373.000000
mean      37.081310  ...                            3.458253
std       15.894149  ...                            1.411966
min       10.000000  ...                           -1.000000
25%       23.000000  ...                            3.000000
50%       37.000000  ...                            4.000000
75%       51.000000  ...                            5.000000
max       64.000000  ...                            5.000000

[8 rows x 6 columns]

In [187]:
# Checando a quantidade de valores negativos nas três colunas.
df[df['dias desde o último login']<0].shape[0],df[df['tempo médio gasto']<0].shape[0],df[df['pontos na carteira']<0].shape[0],df[df['pontuação de risco de rotatividade']<0].shape[0]

(1552, 1345, 116, 901)

In [188]:
# Vamos retirar esses valores negativos do nosso dataset.

df = df[df['dias desde o último login']>0]
df = df[df['tempo médio gasto']>0]
df = df[df['pontos na carteira']>0]
df = df[df['pontuação de risco de rotatividade']>0]

In [189]:
 # Checando...
df.describe()

              Idade  ...  pontuação de risco de rotatividade
count  24631.000000  ...                        24631.000000
mean      37.061589  ...                            3.600544
std       15.880274  ...                            1.178450
min       10.000000  ...                            1.000000
25%       23.000000  ...                            3.000000
50%       37.000000  ...                            4.000000
75%       51.000000  ...                            5.000000
max       64.000000  ...                            5.000000

[8 rows x 6 columns]