<a href="https://colab.research.google.com/github/mantoan-thi/Exploratory-Analysis/blob/main/Modelagem_de_dados.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install pycep-correios

In [209]:
import pandas as pd
import re
from pycep_correios import get_address_from_cep, WebService, exceptions
import time
import timeit

In [210]:
df = pd.read_csv('/content/GUIRRA E SANTANA clientes extraídos_7372.CSV', sep=';', encoding='latin-1')
# Removendo dados duplicados e deixando a primeira ocorrência da repetição 
nr_linhas = df.shape[0]
df.drop_duplicates(keep='first', inplace=True)

In [211]:
def verificar_cidade_bairro(x,y,z):
  if pd.isna(x)== False:
    try:
        address = get_address_from_cep(x, webservice=WebService.APICEP)
        cidade = str(address['cidade']).upper()
        bairro = str(address['logradouro']).upper()
        return cidade,bairro
        #return address
    except exceptions.InvalidCEP as eic:
        return y,z
    except exceptions.CEPNotFound as ecnf:
        return y,z
    except exceptions.ConnectionError as errc:
        return y,z
    except exceptions.Timeout as errt:
        return y,z
    except exceptions.HTTPError as errh:
        return y,z
    except exceptions.BaseException as e:
        return y,z
  else:
    return y,z

In [212]:
# Formatando CPF
def formatar_cpf(x):
  if pd.isna(x)== False:
    x = str(x).replace('.','')
    x = x.replace(' ','')
    x = x.replace(',','')
    x = x.replace('/','')
    x = x.replace('-','')
    x = x.replace("''",'')
    x = x.replace("'",'')
    x = x.replace("+",'')
    if len(x) == 11:
        x = x.zfill(11)
        cpf = '{}.{}.{}-{}'.format(x[:3], x[3:6], x[6:9], x[9:])
        return cpf
    elif len(x) == 10:
        x = str(0)+x
        x = x.zfill(11)
        cpf = '{}.{}.{}-{}'.format(x[:3], x[3:6], x[6:9], x[9:])
        return cpf
    else:
      return x
  else:
    return x

In [213]:
# Checar valores duplicados
def valore_duplicados(dados,coluna):
  valores = []
  repetidos = set()

  for dado in dados[coluna]:
      if dado not in valores:
          valores.append(dado)
      else:
          repetidos.add(dado)
  return valores,repetidos

In [214]:
def juntar_nome_cpf1(df,repetidos):
  for i in range(0,df.shape[0]):
    nome = df['PES.nome'].iloc[i]
    if nome in repetidos:
      for j in range(i+1,df.shape[0]):
        if str(df['PES.nome'].iloc[i]) == str(df['PES.nome'].iloc[j]) and str(df['PES.cpf_cnpj'].iloc[i]) != str(df['PES.cpf_cnpj'].iloc[j]):
          df['PES.nome'].iloc[j] = str(df['PES.nome'].iloc[j])+' '+str(df['PES.cpf_cnpj'].iloc[j])
        else:
          if str(df['PES.nome'].iloc[i]) == str(df['PES.nome'].iloc[j]) and str(df['PES.cpf_cnpj'].iloc[i]) == str(df['PES.cpf_cnpj'].iloc[j]):

            # Telefone
            if len(str(df['PES.telefones'].iloc[i]))>= len(str(df['PES.telefones'].iloc[j])):
                df['PES.telefones'].iloc[j] = df['PES.telefones'].iloc[i]
            if len(str(df['PES.telefones'].iloc[i])) <= len(str(df['PES.telefones'].iloc[j])):
                df['PES.telefones'].iloc[i] = df['PES.telefones'].iloc[j]

            if str(df['PES.telefones'].iloc[i]) == 'NaN':
                df['PES.telefones'].iloc[i] = df['PES.telefones'].iloc[j]
            else:
                df['PES.telefones'].iloc[j] = df['PES.telefones'].iloc[i]
            # Endereço
            if len(str(df['PES.endereco'].iloc[i]))>= len(str(df['PES.endereco'].iloc[j])):
                df['PES.endereco'].iloc[j] = df['PES.endereco'].iloc[i]
            if len(str(df['PES.endereco'].iloc[i])) <= len(str(df['PES.endereco'].iloc[j])):
                df['PES.endereco'].iloc[i] = df['PES.endereco'].iloc[j]
            
            # Bairro
            if len(str(df['PES.bairro'].iloc[i]))>= len(str(df['PES.bairro'].iloc[j])):
                df['PES.bairro'].iloc[j] = df['PES.bairro'].iloc[i]
            if len(str(df['PES.bairro'].iloc[i])) <= len(str(df['PES.bairro'].iloc[j])):
                df['PES.bairro'].iloc[i] = df['PES.bairro'].iloc[j]
            # cep
            if len(str(df['PES.cep'].iloc[i]))>= len(str(df['PES.cep'].iloc[j])):
                df['PES.cep'].iloc[j] = df['PES.cep'].iloc[i]
            if len(str(df['PES.cep'].iloc[i])) <= len(str(df['PES.cep'].iloc[j])):
                df['PES.cep'].iloc[i] = df['PES.cep'].iloc[j]

            # Informações
            if len(str(df['PES.outras_informacoes'].iloc[i]))>= len(str(df['PES.outras_informacoes'].iloc[j])):
                df['PES.outras_informacoes'].iloc[j] = df['PES.outras_informacoes'].iloc[i]
            if len(str(df['PES.outras_informacoes'].iloc[i])) <= len(str(df['PES.outras_informacoes'].iloc[j])):
                df['PES.outras_informacoes'].iloc[i] = df['PES.outras_informacoes'].iloc[j]

            # Cidade
            if len(str(df['PES.cidade'].iloc[i]))>= len(str(df['PES.cidade'].iloc[j])):
                df['PES.cidade'].iloc[j] = df['PES.cidade'].iloc[i]
            if len(str(df['PES.cidade'].iloc[i])) <= len(str(df['PES.cidade'].iloc[j])):
                df['PES.cidade'].iloc[i] = df['PES.cidade'].iloc[j]
            break
  df.drop_duplicates(keep='first', inplace=True) 
  return df

In [215]:
def juntar_nome_cpf2(df,repetidos):
  for i in range(0,df.shape[0]):
    nome = df['PES.cpf_cnpj'].iloc[i]
    if nome in repetidos:
      for j in range(0,df.shape[0]):
        if str(df['PES.nome'].iloc[i]) == str(df['PES.nome'].iloc[j]) and str(df['PES.cpf_cnpj'].iloc[i]) != str(df['PES.cpf_cnpj'].iloc[j]) and i!=j:
          df['PES.nome'].iloc[j] = str(df['PES.nome'].iloc[j])+' '+str(df['PES.cpf_cnpj'].iloc[j])

        elif str(df['PES.nome'].iloc[i]) != str(df['PES.nome'].iloc[j]) and str(df['PES.cpf_cnpj'].iloc[i]) == str(df['PES.cpf_cnpj'].iloc[j]):
          if len(str(df['PES.nome'].iloc[i])) >= len(str(df['PES.nome'].iloc[j])):
            df['PES.nome'].iloc[j] = str(df['PES.nome'].iloc[i])
          else:
              df['PES.nome'].iloc[i] = str(df['PES.nome'].iloc[j])

        else:
          if str(df['PES.nome'].iloc[i]) == str(df['PES.nome'].iloc[j]) and str(df['PES.cpf_cnpj'].iloc[i]) == str(df['PES.cpf_cnpj'].iloc[j]) and i!=j:

            # Telefone
            if len(str(df['PES.telefones'].iloc[i]))>= len(str(df['PES.telefones'].iloc[j])):
                df['PES.telefones'].iloc[j] = df['PES.telefones'].iloc[i]
            if len(str(df['PES.telefones'].iloc[i])) <= len(str(df['PES.telefones'].iloc[j])):
                df['PES.telefones'].iloc[i] = df['PES.telefones'].iloc[j]
            if pd.isna(str(df['PES.telefones'].iloc[i])):
                df['PES.telefones'].iloc[i] = df['PES.telefones'].iloc[j]
            else:
                df['PES.telefones'].iloc[j] = df['PES.telefones'].iloc[i]
            # Endereço
            if len(str(df['PES.endereco'].iloc[i]))>= len(str(df['PES.endereco'].iloc[j])):
                df['PES.endereco'].iloc[j] = df['PES.endereco'].iloc[i]
            if len(str(df['PES.endereco'].iloc[i])) <= len(str(df['PES.endereco'].iloc[j])):
                df['PES.endereco'].iloc[i] = df['PES.endereco'].iloc[j]
            
            # Bairro
            if len(str(df['PES.bairro'].iloc[i]))>= len(str(df['PES.bairro'].iloc[j])):
                df['PES.bairro'].iloc[j] = df['PES.bairro'].iloc[i]
            if len(str(df['PES.bairro'].iloc[i])) <= len(str(df['PES.bairro'].iloc[j])):
                df['PES.bairro'].iloc[i] = df['PES.bairro'].iloc[j]
            # cep
            if len(str(df['PES.cep'].iloc[i]))>= len(str(df['PES.cep'].iloc[j])):
                df['PES.cep'].iloc[j] = df['PES.cep'].iloc[i]
            if len(str(df['PES.cep'].iloc[i])) <= len(str(df['PES.cep'].iloc[j])):
                df['PES.cep'].iloc[i] = df['PES.cep'].iloc[j]

            # Informações
            if len(str(df['PES.outras_informacoes'].iloc[i]))>= len(str(df['PES.outras_informacoes'].iloc[j])):
                df['PES.outras_informacoes'].iloc[j] = df['PES.outras_informacoes'].iloc[i]
            if len(str(df['PES.outras_informacoes'].iloc[i])) <= len(str(df['PES.outras_informacoes'].iloc[j])):
                df['PES.outras_informacoes'].iloc[i] = df['PES.outras_informacoes'].iloc[j]

            # Cidade
            if len(str(df['PES.cidade'].iloc[i]))>= len(str(df['PES.cidade'].iloc[j])):
                df['PES.cidade'].iloc[j] = df['PES.cidade'].iloc[i]
            if len(str(df['PES.cidade'].iloc[i])) <= len(str(df['PES.cidade'].iloc[j])):
                df['PES.cidade'].iloc[i] = df['PES.cidade'].iloc[j]
            break
  df.drop_duplicates(keep='first', inplace=True) 
  return df

In [216]:
def formatar_tel1(x):
  if pd.isna(x)== False:
    cel = str(x.split('/')[0])
    cel = cel.replace('-','')
    cel = cel.replace(' ','')
    cel = cel.replace('.','')
    cel = cel.replace('(','')
    cel = cel.replace(')','')
    if len(cel)>=8:
      new_dig = ''
      for dig in cel:
        if dig.isdigit():
          new_dig = new_dig+dig
      cel =new_dig

    if len(cel)>= 8 and len(cel)<=12:
      cel = str(int(cel))
      return cel
    else:
      return x
  else:
    return x

In [217]:
def formatar_tel2(x):
  if pd.isna(x) == False:
    cel = str(x.split('-')[0])
    cel = cel.replace('-','')
    cel = cel.replace(' ','')
    cel = cel.replace('.','')
    cel = cel.replace('(','')
    cel = cel.replace(')','')
    if len(cel)>=8:
      new_dig = ''
      for dig in cel:
        if dig.isdigit():
          new_dig = new_dig+dig
      cel =new_dig

    if len(cel)>= 8 and len(cel)<=12:
      cel = str(int(cel))
      return cel
    else:
      return x
  else:
    return x

In [218]:
def formatar_tel3(x):
  if pd.isna(x) == False:
    cel = str(x.split('ou')[0])
    cel = cel.replace('-','')
    cel = cel.replace(' ','')
    cel = cel.replace('.','')
    cel = cel.replace('(','')
    cel = cel.replace(')','')
    if len(cel)>=8:
      new_dig = ''
      for dig in cel:
        if dig.isdigit():
          new_dig = new_dig+dig
      cel =new_dig

    if len(cel)>= 8 and len(cel)<=12:
      cel = str(int(cel))
      return cel
    else:
      return x
  else:
    return x

In [219]:
def formatar_tel4(x):
  if pd.isna(x) == False:
    cel = str(x.split(' - ')[0])
    cel = cel.replace('-','')
    cel = cel.replace(' ','')
    cel = cel.replace('.','')
    cel = cel.replace('(','')
    cel = cel.replace(')','')
    if len(cel)>=8:
      new_dig = ''
      for dig in cel:
        if dig.isdigit():
          new_dig = new_dig+dig
      cel =new_dig

    if len(cel)>= 8 and len(cel)<=12:
      cel = str(int(cel))
      return cel
    else:
      return x
  else:
    return x

In [220]:
def formatar_tel5(x):
  if pd.isna(x) == False:
    cel = str(x.split(' ')[0])
    cel = cel.replace('-','')
    cel = cel.replace(' ','')
    cel = cel.replace('.','')
    cel = cel.replace('(','')
    cel = cel.replace(')','')
    if len(cel)>=8:
      new_dig = ''
      for dig in cel:
        if dig.isdigit():
          new_dig = new_dig+dig
      cel =new_dig

    if len(cel)>= 8 and len(cel)<=12:
      cel = str(int(cel))
      return cel
    else:
      return x
  else:
    return x

In [221]:
def formatar_tel5(x):
    if pd.isna(x) == False:
      if len(str(x))==8:
        return '(00) {}-{}'.format(x[:4],x[4:])
      elif len(str(x))==9:
        return '(00) {}-{}'.format(x[:5],x[5:])
      elif len(str(x))==10:
        return '({}) {}-{}'.format(x[:2],x[2:6],x[6:])
      elif len(str(x))==11:
        return '({}) {}-{}'.format(x[:2],x[2:7],x[7:])
      return x
    else:
      return x

In [222]:
def remove_ultimo_espaco(x):
  if pd.isna(x) == False:
    new_x = " ".join(x.split())
    return re.sub(r"^\s+|\s+$", "", new_x)
  else:
    return x

In [223]:
def format_cep(x):
  if pd.isna(x) == False:
    cep = str(x).replace('-','')
    cep = cep.replace(' ','')
    cep = cep.replace('.','')
    cep = cep.replace('(','')
    cep = cep.replace(')','')
    if len(str(cep))==5:
      return '{}-000'.format(cep[:5])
    elif len(str(cep))==6:
      return '{}-{}00'.format(cep[:5],cep[5:6])
    elif len(str(cep))==7:
      return '{}-{}0'.format(cep[:5],cep[5:7])
    elif len(str(cep))==8:
      return '{}-{}'.format(cep[:5],cep[5:])
    else:
      return None
  else:
    return x

In [224]:
def alguma_funcao():
    for i in range(1, 5):
        time.sleep(1)

In [225]:
inicio = timeit.default_timer()

# Manter somente linhas com pelo menos 2 valores que não sejam nan
df.dropna(thresh=2,inplace=True)

# Tratamento de Cep
df['PES.cep'] = df['PES.cep'].apply(lambda x:format_cep(x))
df.drop_duplicates(keep='first', inplace=True) 

# Tratamento de Bairro/cidade
try:
  df['PES.cidade'],df['PES.bairro'] = df.apply(lambda x:verificar_cidade_bairro(x['PES.cep'],x['PES.cidade'],x['PES.bairro']),axis=1)
except:
  print("An exception occurred")

df.drop_duplicates(keep='first', inplace=True) 
fim = timeit.default_timer()
print ('Duracao: %f' % (fim - inicio))

An exception occurred
Duracao: 2872.508582

In [226]:
inicio = timeit.default_timer()
print('Qtde de linhas antes do processamento:',nr_linhas)
for i in range(0,3):

  # Remove os espaços no final do nome
  for c in df.columns:
    df[c] = df[c].apply(lambda x:remove_ultimo_espaco(x))
  df['PES.cpf_cnpj'] = df['PES.cpf_cnpj'].apply(lambda x:formatar_cpf(x))

  # Tratamento dos números de telefones
  df['PES.telefones'] = df['PES.telefones'].apply(lambda x:formatar_tel1(x))
  df['PES.telefones'] = df['PES.telefones'].apply(lambda x:formatar_tel2(x))
  df['PES.telefones'] = df['PES.telefones'].apply(lambda x:formatar_tel3(x))
  df['PES.telefones'] = df['PES.telefones'].apply(lambda x:formatar_tel4(x))
  df['PES.telefones'] = df['PES.telefones'].apply(lambda x:formatar_tel5(x))
  df['PES.telefones'] = df['PES.telefones'].apply(lambda x:formatar_tel5(x))
  df.drop_duplicates(keep='first', inplace=True) 

  # Tratamento dos números de CPF
  df['PES.cpf_cnpj'] = df['PES.cpf_cnpj'].apply(lambda x:formatar_cpf(x))

  # equiparando os dados
  v_,repetidos1 = valore_duplicados(df,'PES.nome')
  df = juntar_nome_cpf1(df,repetidos1)


  _,repetidos2 = valore_duplicados(df,'PES.cpf_cnpj')
  df = juntar_nome_cpf2(df,repetidos2)
  df.drop_duplicates(keep='first', inplace=True) 
print('Qtde de linhas após o processamento:',df.shape[0])

print('\n\nVerificando valores duplicados por coluna\n')
for c in df.columns:
  _,repetidos = valore_duplicados(df,c)
  print(f'Valores repetidos em {c} ',len(repetidos))

fim = timeit.default_timer()
print ('Duracao: %f' % (fim - inicio))

Qtde de linhas antes do processamento: 9997
Qtde de linhas após o processamento: 8979


Verificando valores duplicados por coluna

Valores repetidos em PES.nome  0
Valores repetidos em PES.cpf_cnpj  0
Valores repetidos em PES.telefones  163
Valores repetidos em PES.endereco  145
Valores repetidos em PES.bairro  535
Valores repetidos em PES.cep  1226
Valores repetidos em PES.outras_informacoes  16
Valores repetidos em PES.cidade  118
Duracao: 54.715022

In [227]:
df

,PES.nome,PES.cpf_cnpj,PES.telefones,PES.endereco,PES.bairro,PES.cep,PES.outras_informacoes,PES.cidade
0,INGRID DAILANE SOUSA ALVES,046.784.715-02,(00) 98847-4553,"RUA RIO CATU, 11",FAZ GRANDE RETIRO,40355-170,NaN,SALVADOR
1,IVAN SILVA DE JESUS,063.957.325-87,(71) 99281-9942,"RUA APOSTOLADO DA ORACAO, 25",LOT DON AVELAR C BRA,41315-200,Ivan#1951 SENHA INSS,SALVADOR
2,JOANITA PIEDADE DE JESUS,482.942.765-53,(00) 98539-5450,"RUA 13 DE MAIO, 10E",SUSSUARANA,41215-110,NaN,SALVADOR
3,LUCAS BARBOSA SANTANA DALTRO,049.051.745-54,(00) 3248-4307,"RAIMUNDO VIANA - (V PEDRINHAS), N 42",RIO VERMELHO,41950-790,SENHA DO INSS: Lucas#1994,SALVADOR
7,ABDALA ABIB NETO,080.849.555-00,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
9992,ZILTO NICACIO FARIAS,013.602.805-53,(00) 3544-2028,PRA ESTAÇÃO S/N,CARRAPICHEL,48985-000,NaN,CARRAPICHEL
9993,ZORILDA MASCARENHAS HORTELIO,488.977.955-87,(00) 3014-0300,"RUA JOSE PEDREIRA, 137, APT 101",CANDEAL,40296-260,NaN,SALVADOR
9994,ZULEIDE DOS SANTOS RIBEIRO,491.118.505-82,(00) 8605-7681,"AV SAO LUIZ, N 100",MANGALO,NaN,NaN,ALAGOINHAS
9995,ZULEIDE RODRIGUES CONCEIÇÃO,677.954.635-68,(00) 3386-1091,"RUA PROFESSOR QALSON LOPES, 221A",LIBERDADE,40325-750,DEU ENTRADA NO LOAS PORÉM FOI DITO QUE NÃO PRE...,SALVADOR
9996,ZULMIRA RODRIGUES DE OLIVEIRA,220.618.005-72,(71) 3460-9979,"RUA TOMAZ GONZAGA, N° 144",PERNAMBUÉS,41130-000,NaN,SALVADOR